* {
  margin: 0;
  padding: 0;
}

.main-contact {
  /* background-color: rgb(5, 5, 5); */
  background-color: rgba(11, 11, 12, 0.979);
}

.contact {
  color: white;
  text-align: left;
  margin-bottom: 30px;
}
.contact p {
  width: 100%;
}

.myh4 {
  font-size: 47px;
  margin-bottom: 8px;
}

.para-contact {
  line-height: 28px;
  font-weight: bold;
  font-size: 21px;
  color: rgba(198, 205, 216, 0.75);
}

.contact-span {
  color: white;
  font-size: 20px;
}

.container-registration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: right;
  padding-top: 50px;
  padding-bottom: 200px;
  padding-left: 200px;
  padding-right: 200px;
  gap: 40px;
}

.registration-form {
  color: rgb(15, 15, 15);
  width: 100%;
  padding-top: 80px;
}

.input-field {
  width: 90%;
  height: 50vh;
  padding-bottom: 20px;
  color: red;
}

input {
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  height: 40px;
  margin: 20px 0px;
  border-radius: 5px;
  background-color: rgb(15, 15, 15);
  border: 2px solid rgba(198, 205, 216, 0.75);
  color: white;
}
textarea {
  width: 90%;
  height: 112px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px 0px;
  background-color: rgb(15, 15, 15);
  border: 2px solid rgba(198, 205, 216, 0.75);
  color: white;
}
.submit-btn {
  width: 155px;
  height: 52px;
  border-radius: 5px;
  border: 3px solid rgba(230, 5, 54, 0.843);
  background-color: rgba(230, 5, 54, 0.843);
  color: white;
}
.img-container-about {
  height: 100vh;
  width: 100%;
}
.registration-img {
  height: 100vh;
  width: 100%;
  padding-right: 20px;
  position: relative;
  background-image: url(https://trydo.rainbowit.net/assets/images/about/about-9.jpg);
  background-size: contain;
  padding-right: 0;
  background-repeat: no-repeat;
}
table, th, td {
  border: 1px solid white;
  color: white;
}

@media screen and (max-width: 1580px) {
  .img-container-about {
    height: 100vh;
    padding-top: 90px;
  }
}
@media screen and (max-width: 1345px) {
  .registration-img {
    width: 100%;
    height: 100vh;
  }
  .img-container-about {
    height: 100vh;
  }
  .container-registration {
    padding-right: 4%;
    padding-left: 6%;
  }
  .input-field {
    width: 90%;
    height: 60vh;
    padding-bottom: 20px;
  }

  input {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 40px;
    margin: 20px 0px;
    border-radius: 5px;
    background-color: rgb(15, 15, 15);
    border: 2px solid rgba(198, 205, 216, 0.75);
  }
  textarea {
    width: 100%;
    height: 112px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 0px;
    background-color: rgb(15, 15, 15);
    border: 2px solid rgba(198, 205, 216, 0.75);
  }
}

@media screen and (max-width: 1093px) {
  .registration-img {
    width: 100%;
    height: 130vh;
  }
  .img-container-about {
    padding-top: 100px;
  }
}
@media screen and (max-width: 993px) {
  .container-registration :nth-of-type(1) {
    order: 2;
  }
  .container-registration :nth-of-type(2) {
    order: 1;
  }
  .container-registration {
    grid-template-columns: 1fr;
    padding-bottom: 229px;
  }
  .registration-img {
    height: 80vh;
    width: 100%;
  }
  .img-container-about {
    height: 80vh;
  }
}

@media screen and (max-width: 576px) {
  .input {
    width: 85%;
  }
  .project {
    width: auto;
  }
  .myh2 {
    font-size: 24px;
  }
}
