* {
  margin: 0;
  padding: 0;
}

main-section {
  background-color: rgb(5, 5, 5);
}

.project {
  color: white;
  text-align: center;
  width: 516px;
  margin: auto;
}

.myh2 {
  font-size: 47px;
}

.para1 {
  line-height: 28px;
  font-weight: bold;
  font-size: 18px;
  color: rgba(198, 205, 216, 0.75);
}

.port-container {
  padding-top: 5%;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  position: relative;
}

.portfolio-card {
  min-height: 550px;
  /* Adjust the value as needed */
  position: relative;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.img1 {
  background-image: url("https://trydo.rainbowit.net/assets/images/portfolio/portfolio-1.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.img2 {
  background-image: url("https://trydo.rainbowit.net/assets/images/portfolio/portfolio-2.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.img3 {
  background-image: url("https://trydo.rainbowit.net/assets/images/portfolio/portfolio-3.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.img4 {
  background-image: url("https://trydo.rainbowit.net/assets/images/portfolio/portfolio-4.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.img5 {
  background-image: url("https://trydo.rainbowit.net/assets/images/portfolio/portfolio-3.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.img6 {
  background-image: url("https://trydo.rainbowit.net/assets/images/portfolio/portfolio-4.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.inner-port > .porffolio-title {
  color: white;
  height: 30px;
  width: 70%;
  margin: auto;
}

.big-shows {
  line-height: 35px;
  font-weight: bold;
  font-size: 24px;
  color: rgba(198, 205, 216, 0.75);
  height: 72px;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.inner-port {
  height: 192px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 61%;
}

.views-btn {
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  width: 140px;
}

.portfolio-card:hover {
  transform: translateY(-20px);
  transition: all 0.6s ease-in-out;
  background-color: rgb(212, 18, 83);
}

.child {
  height: 90%;
  width: 96%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

.child::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(249, 0, 77, 0.745);
}
.btn-view:hover {
  background-color: #f9004d;
  border: none;
  transform: translateY(-5px);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  color: white;
}
.portfolio-card:hover .child::before {
  display: block;
}

@media screen and (max-width: 1600px) {
  .portfolio-card {
    min-height: 500px;
    position: relative;
    width: 95%;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
  }
}

/* @media screen and (max-width: 1350px) {
  .big-shows {
    width: 100%;
    padding-left: 19px;
  }
} */

@media screen and (max-width: 1301px) {
  .big-shows {
    width: 100%;
  }

  .btn-view {
    width: 100%;
    position: relative;
  }

  .porffolio-title {
    width: 100%;
  }
  .port-container {
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
  }
}
@media screen and (max-width: 1060px) {
  .port-container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 776px) {
  .port-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 560px) {
  .port-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

/* @media screen and (max-width: 1216px) {
  .inner-port {
    margin-left: 0px;
  }

  .inner-port .big-shows {
    font-size: 25px;
    margin-top: 2px;
    height: 72px;
    width: 74%;
    margin-left: 17px;
  }

  .inner-port .inner-port > .porffolio-title {
    width: 274px;
  }

  .big-shows {
    width: 100%;
  }
}

@media screen and (max-width: 1060px) {
  .port-container {
    grid-template-columns: 1fr 1fr;
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (max-width: 776px) {
  .port-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .portfolio-card {
    padding-left: 0px;
    width: 100%;
    height: 400px;
  }

  .project .myh2 {
    font-size: 35px;
  } 

  .inner-port {
    margin: auto;
    width: 100%;
    top: 48%;
  }

  .inner-port .big-shows {
     width: 93%; 
    font-size: 20px;
    margin-top: 2px;
    height: 72px;
    width: 70%;
    margin-left: 20px;
  }

  .views-btn {
    width: 119px;
    margin-top: 18px;
    margin-right: 30px;
  }

  .img1 {
    margin-top: 20px;
  }

  .img2 {
    margin-top: 20px;
  }

  .img3 {
    margin-top: 20px;
  }

  .img4 {
    margin-top: 20px;
  }

  .img5 {
    margin-top: 20px;
  }

  .img6 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .port-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .inner-port .big-shows {
    font-size: 28px;
    margin-left: 56px;
  }

  .inner-port 
  .project .myh2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 386px) {
  .views-btn {
    width: 119px;
    margin-top: 18px;
    margin-right: 30px;
  }

  .inner-port .big-shows {
    font-size: 20px;
    margin-left: 48px;
  }
} */
